generic/workflow.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logic_app_name": {
            "type": "String"
        },
 
        "location": {
            "defaultValue": "uksouth",
            "type": "String"
        }
     },
    "variables": {
       
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logic_app_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "schemaId": "azureMonitorCommonAlertSchema",
                        "data": {
                            "essentials": {
                                "alertId": "/subscriptions/<subscription ID>/providers/Microsoft.AlertsManagement/alerts/aaaa0a0a-bb1b-cc2c-dd3d-eeeeee4e4e4e",
                                "alertRule": "WCUS-R2-Gen2",
                                "severity": "Sev3",
                                "signalType": "Metric",
                                "monitorCondition": "Resolved",
                                "monitoringService": "Platform",
                                "alertTargetIDs": [
                                    "/subscriptions/<subscription ID>/resourcegroups/pipelinealertrg/providers/microsoft.compute/virtualmachines/wcus-r2-gen2"
                                ],
                                "configurationItems": [
                                    "wcus-r2-gen2"
                                ],
                                "originAlertId": "3f2d4487-b0fc-4125-8bd5-7ad17384221e_PipeLineAlertRG_microsoft.insights_metricAlerts_WCUS-R2-Gen2_-117781227",
                                "firedDateTime": "2019-03-22T13:58:24.3713213Z",
                                "resolvedDateTime": "2019-03-22T14:03:16.2246313Z",
                                "description": "",
                                "essentialsVersion": "1.0",
                                "alertContextVersion": "1.0"
                            },
                            "alertContext": {
                                "properties": null,
                                "conditionType": "SingleResourceMultipleMetricCriteria",
                                "condition": {
                                    "windowSize": "PT5M",
                                    "allOf": [
                                        {
                                            "metricName": "Percentage CPU",
                                            "metricNamespace": "Microsoft.Compute/virtualMachines",
                                            "operator": "GreaterThan",
                                            "threshold": "25",
                                            "timeAggregation": "Average",
                                            "dimensions": [
                                                {
                                                    "name": "ResourceId",
                                                    "value": "3efad9dc-3d50-4eac-9c87-8b3fd6f97e4e"
                                                }
                                            ],
                                            "metricValue": 7.727
                                        }
                                    ]
                                }
                            },
                            "customProperties": {
                                "Key1": "Value1",
                                "Key2": "Value2"
                            }
                        }
                    }
                }
            }
        },
        "actions": {
            "Initialize_variable": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "AffectedResource",
                            "type": "array",
                            "value": "@split(triggerBody()?['data']?['essentials']?['alertTargetIDs'][0], '/')"
                        }
                    ]
                }
            },
            "HTTP": {
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "http://urlQueEscuchaITSM",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "Application/json"
                    },
                    "body": {
                        "context": {
                            "condition": {
                                "metricName": "@triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricName']",
                                "metricUnit": "XXX",
                                "metricValue": "@triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['metricValue']",
                                "operator": "@triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['operator']",
                                "threshold": "@triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['threshold']",
                                "timeAggregation": "@triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['timeAggregation']",
                                "windowSize": "@triggerBody()?['data']?['alertContext']?['condition']?['windowSize']"
                            },
                            "conditionType": "@body('Parse_JSON')?['data']?['essentials']?['monitorCondition']",
                            "description": "@triggerBody()?['data']?['essentials']?['description']",
                            "id": "@triggerBody()?['data']?['essentials']?['originAlertId']",
                            "name": "@triggerBody()?['data']?['alertContext']?['condition']?['allOf']?[0]?['dimensions']?[0]?['name']",
                            "portalLink": "https://portal.azure.com/#resource/subscriptions/s1/resourceGroups/INFRA /providers/PostgreSQL/instancia1",
                            "resourceGroupName": "@split(string(triggerBody()?['data']?['essentials']?['alertTargetIDs']),'/')[4]",
                            "resourceId": "@body('Parse_JSON')?['data']?['essentials']?['alertTargetIDs']",
                            "resourceName": "@split(string(triggerBody()?['data']?['essentials']?['alertTargetIDs']),'/')[8]",
                            "resourceRegion": "XXX",
                            "resourceType": "@split(string(triggerBody()?['data']?['essentials']?['alertTargetIDs']),'/')[7]",
                            "subscriptionId": "@split(string(triggerBody()?['data']?['essentials']?['alertTargetIDs']),'/')[2]",
                            "timestamp": "@triggerBody()?['data']?['essentials']?['firedDateTime']"
                        },
                        "properties": {
                            "data": "@body('Parse_JSON')?['data']",
                            "key2": "value2"
                        },
                        "status": "@body('Parse_JSON')?['data']?['essentials']?['monitorCondition']"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Initialize_variable_1": {
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "getCommonSchema",
                            "type": "object",
                            "value": "@triggerBody()"
                        }
                    ]
                }
            },
            "Parse_JSON": {
                "runAfter": {
                    "Initialize_variable_1": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@variables('getCommonSchema')",
                    "schema": {
                        "schemaId": "azureMonitorCommonAlertSchema",
                        "data": {
                            "essentials": {
                                "alertId": "/subscriptions/<subscription ID>/providers/Microsoft.AlertsManagement/alerts/aaaa0a0a-bb1b-cc2c-dd3d-eeeeee4e4e4e",
                                "alertRule": "WCUS-R2-Gen2",
                                "severity": "Sev3",
                                "signalType": "Metric",
                                "monitorCondition": "Resolved",
                                "monitoringService": "Platform",
                                "alertTargetIDs": [
                                    "/subscriptions/<subscription ID>/resourcegroups/pipelinealertrg/providers/microsoft.compute/virtualmachines/wcus-r2-gen2"
                                ],
                                "configurationItems": [
                                    "wcus-r2-gen2"
                                ],
                                "originAlertId": "3f2d4487-b0fc-4125-8bd5-7ad17384221e_PipeLineAlertRG_microsoft.insights_metricAlerts_WCUS-R2-Gen2_-117781227",
                                "firedDateTime": "2019-03-22T13:58:24.3713213Z",
                                "resolvedDateTime": "2019-03-22T14:03:16.2246313Z",
                                "description": "",
                                "essentialsVersion": "1.0",
                                "alertContextVersion": "1.0"
                            },
                            "alertContext": {
                                "properties": null,
                                "conditionType": "SingleResourceMultipleMetricCriteria",
                                "condition": {
                                    "windowSize": "PT5M",
                                    "allOf": [
                                        {
                                            "metricName": "Percentage CPU",
                                            "metricNamespace": "Microsoft.Compute/virtualMachines",
                                            "operator": "GreaterThan",
                                            "threshold": "25",
                                            "timeAggregation": "Average",
                                            "dimensions": [
                                                {
                                                    "name": "ResourceId",
                                                    "value": "3efad9dc-3d50-4eac-9c87-8b3fd6f97e4e"
                                                }
                                            ],
                                            "metricValue": 7.727
                                        }
                                    ]
                                }
                            },
                            "customProperties": {
                                "Key1": "Value1",
                                "Key2": "Value2"
                            }
                        }
                    }
                }
            }
        },
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {}
        }
    }
            }
        }
         
    ],
    "outputs": {
     }
}